.file-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 24px;
	max-height: 960px;
	overflow: auto;
}

@media (min-width: 768px) {
	.file-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.file-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1280px) {
	.file-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1536px) {
	.file-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (min-width: 1792px) {
	.file-grid {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media (min-width: 2048px) {
	.file-grid {
		grid-template-columns: repeat(7, 1fr);
	}
}

@media (min-width: 2304px) {
	.file-grid {
		grid-template-columns: repeat(8, 1fr);
	}
}

@media (min-width: 2560px) {
	.file-grid {
		grid-template-columns: repeat(9, 1fr);
	}
}

.embed {
	width: 100%;
	height: 961px;
}
