.content {
    display: grid;
    grid-template-columns: 1fr 280px;
    grid-template-rows: 80px 40px auto;
    grid-template-areas:
        'item-header sidebar'
        'tabs sidebar'
        'content  sidebar';
    max-height: calc(100vh - 80px);
}
