.content {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'views-sidebar content';
	max-height: calc(100vh - 80px);
}

.music-views-sidebar {
	grid-area: views-sidebar;
	border-right: 1px solid rgba(255, 255, 255, 0.08);
	padding: 12px;
	overflow-y: auto;
}

@media (max-width: 900px) {
	.content {
		grid-template-columns: 1fr;
		grid-template-areas: 'content';
	}

	.music-views-sidebar {
		display: none;
	}
}
