.music-content {
	grid-area: content;
	padding-inline: 4px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-bottom: 80px;
}

.loading-indicator {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.sentinela {
	height: 40px;
	width: 100%;
}
