.content {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: 80px 45px auto;
	grid-template-areas:
		'item-header'
		'tabs'
		'content'
		'footer';
	max-height: calc(100vh - 80px);
	min-width: 0;
}
