.content {
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-rows: 80px 40px auto;
	grid-template-areas:
		'action-bar'
		'form summary'
		'list';
	grid-area: content-container;
}
