.layout {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 80px auto;
	grid-template-areas:
		'logo gh'
		'left-nav content-container';
	height: 100vh;
	background-color: #2a282e;
}

.mainContent {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	grid-area: content-container;
}

.content {
	flex: 1;
	padding: 24px;
	overflow-y: auto;
	background-color: #f9fafb;
}
